-r requirements.txt
attrs>=17.4
celery
coverage
pacifica-archiveinterface
pacifica-cartd
pacifica-ingest
pacifica-metadata
pacifica-policy
pacifica-uniqueid
pager
pep257
pre-commit
pylint<2.0
pytest
radon
recommonmark
redis
requests
six
